<ul id="tasks" class="menu">
</ul>
<div style="display: table">
<div id="bar_chart" class="framed" style="background-color: white; width: 300px; height: 300px; display:table-cell; padding: 5px;"></div>
<br>
<div id="pie_chart_1" class="framed" class="pie_chart" style="width: 300px; height: 300px; padding: 5px;   background-color: white;  display:table-cell" ></div>
<div id="pie_chart_2" class="framed" class="pie_chart" style="width: 300px; padding: 5px;  background-color: white; display:table-cell" ></div>
</div>
</table>