/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face { 
	font-family: 'Cuecafont'; 
	src: url('cuecafont.ttf'); 
} 

body {
	background: url(bkg.png) repeat top left;
}

h1 {
	margin : auto;
	padding-top: 30px;
	height: 100px;
	text-align: center;
	vertical-align: center;
	font-family: 'Cuecafont';
}

.framed {
	margin: auto;
	border: 3px #8B4513 solid;
}

#logo {
	display: table-row;
	float: left;
	margin-left: 30px;
}

.content {
	display: table;
}

ul.menu {
	clear: right;
	display: table-row;
	float:left;
	width:490px;
	padding:0;
	margin:0;
	list-style-type:none;
	text-align: center;
	vertical-align: text-bottom;
}

.menu a {
	float:left;
	text-decoration:none;
}

#tabs a {
	width:149px;
	height: 133px;
}

#tabs {
	margin-top: 30px;
	margin-bottom: 30px;
	border-bottom: 2px #8B4513 solid;
}

#tasks a {
	text-decoration: none;
	font-family: 'Cuecafont';
	font-size: 17px;
	font-weight: bold;
	color: black;
	text-transform: none;
	padding-top: 30px;
}

#tasks a:hover {
	background-color: #996633;
}

#tasks {
	width: 900px;
	margin-top: 10px;
}

#tasks a {
	width: 450px;
	height: 50px;
	text-align: center;
}

.menu #home a {
	background: url(web_tab_sx.png) no-repeat top left;
}

.menu #statistics a {
	background: url(web_tab_center.png) no-repeat top left;
}

.menu #maps a {
	background: url(web_tab_dx.png) no-repeat top left;
}

.menu #home a:hover {
	background: url(web_tab_sx_DOWN.png) no-repeat top left;
}

.menu #statistics a:hover {
	background: url(web_tab_center_DOWN.png) no-repeat top left;
}

.menu #maps a:hover {
	background: url(web_tab_dx_DOWN.png) no-repeat top left;
}

.menu li {
	display:inline;
}

.content {
    width: 900px;
    margin: auto;
}